In [1]:
amount=0
unit=int(input('enter your electricity unit:'))
if(unit<=100):
    print("No electricity charges")
elif(unit>100 and unit<=200):
    amount=(unit-100)*5
    print("Electricity charges:",amount)
else:
    amount=500+(unit-200)*10
    print("Electricity charges:",amount)

enter your electricity unit: 270

Electricity charges: 1200

In [4]:
#2)          price		    Tax

	#>100000			    15%
    #>50000 and <=100000    10%
    #<=50000			    5%

tax=0
price=int(input("Enter the bike price:"))
if(price>100000):
    tax=15/100*price
    print('Tax amount:',tax)
elif(price>50000 and price<=100000):
    tax=10/100*price
    print('Tax amount:',tax)
else:
    tax=5/100*price
    print('Tax amount:',tax)

Enter the bike price: 75000

Tax amount: 7500.0

In [5]:
# Write a program to accept a number from 1 to 7 and display the name of the day like 1 for sunday, 2 for monday and so on 
day=int(input("Enter the day in num:"))
if(day==1):
    print('sunday')
elif(day==2):
    print("Monday")
elif(day==3):
    print("Wednesday")
elif(day==4):
    print("Thursday")
else:
    print("Invalid input")

Enter the day in num: 3

Wednesday

In [7]:
city=input("Enter the city")
if (city.lower()=="delhi"):
    print('Red fort')
elif(city.lower()=="agra"):
    print("taj mahal")
elif(city.lower()=="jaipur"):
    print("Jal mahal")
else:
    print("invalid city")

Enter the city AGra

taj mahal

In [10]:
num=input()
a=len(num)
if a==3:
    print("three digit number")
else:
    print("invalid number")

 4567

invalid number

In [14]:
for i in range(1,11):
    print(i,"*","2","=",i*2)

1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
10 * 2 = 20