In [5]:
#write a program to find the factorial of a numbers
i=5
fact=1
while(i>0):
    fact=fact*i
    i=i-1
    print(fact)

5
20
60
120
120

In [7]:
#print even and odd numbers using while loop
i=1
while(i<=20):
    if(i%2==0):
        print(i,"Even number")
    else:
        print(i,"Odd number")
    i=i+1

1 Odd number
2 Even number
3 Odd number
4 Even number
5 Odd number
6 Even number
7 Odd number
8 Even number
9 Odd number
10 Even number
11 Odd number
12 Even number
13 Odd number
14 Even number
15 Odd number
16 Even number
17 Odd number
18 Even number
19 Odd number
20 Even number

In [11]:
#using nested for loop print below output
# 1 2 3  4   5
# 2 4 6  8   10
# 3 6 9  12  15
# 4 8 12 16  20
# 5 10 1520  25

n=5
for i in range(1,n+1):
    print()
    for j in range(1,n+1):
        print(i*j,end="\t")

1	2	3	4	5
2	4	6	8	10
3	6	9	12	15
4	8	12	16	20
5	10	15	20	25

In [19]:
#jumb statement
a=("apple","banana","orange","kiwi")
for x in a:
    if x=="orange":
        break
    print(x)

apple
banana

In [17]:
a=("apple","banana","orange","kiwi")
for x in a:
    if x=="banana":
        continue
    print(x)

apple
orange
kiwi

In [21]:
#print the 10 table using while loop
i=1
while(i<=16):
    print(i,"* 10 =",i*10)
    i=i+1

1 * 10 = 10
2 * 10 = 20
3 * 10 = 30
4 * 10 = 40
5 * 10 = 50
6 * 10 = 60
7 * 10 = 70
8 * 10 = 80
9 * 10 = 90
10 * 10 = 100
11 * 10 = 110
12 * 10 = 120
13 * 10 = 130
14 * 10 = 140
15 * 10 = 150
16 * 10 = 160

In [20]:
a=10
b=20
print(a+b)

30

In [26]:
#Nested for loop
matrix=[[1,2,3],[4,5,6],[7,8,9]]
for a in matrix:
    for b in a:
        print(b,end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [ ]:
123
456
789

In [23]:
a=(1,2,3,4,5)
for x in a:
    print(x)

1
2
3
4
5

In [31]:
n=int(input("Enter the number:"))
n=str(n)
length=len(n)
Sum=0
for i in n:
    Sum=Sum+int(i)**length
    print(Sum)
if Sum==int(n):
    print(n,"Is  armstrong number")
else:
    print(n,"is not armstrong number")

Enter the number: 153

1
126
153
153 Is  armstrong number

1
5
3

In [37]:
a=123
b=str(a)[2]
b=int(b)
if b%2==0:
    
print(type(b))

print(b)

print(str(a)[0])

IndentationError: expected an indented block after 'if' statement on line 4 (1704309348.py, line 5)